<html>
        <head>
            <title>Headlines</title>
        </head>
        <body>
            <h1>Headlines</h1>
            {% for article in articles %}
                <b><a href="{{article.link}}">{{article.title}}</a></b><br />
                <i>{{article.published}}</i><br />
                <p>{{article.summary}}</p> 
                <hr />
            {% endfor %}
         
        </body>
    </html>

<!-- 
Double braces, indicate to Jinja that anything inside them
should not be taken as literal HTML code. Because our placeholders,
title,etc, are the same as our Python variables names passed into the
render_template call, just adding the braces will subtitute there
for the real data.


-->